.main {
    width: 100%;
    margin: 0;
    padding: 100px 2rem 2rem 2rem;
    font-family: system-ui, sans-serif;
    text-align: center;
    line-height: 1.5;

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/spacexrocket.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.link {
    margin-top: 5rem;
    display: inline-block;
}